


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d3mbwbgtcl4x70.cloudfront.net/Ombre_Elegance_08ec1c43a1.webp);">
  <div class="container">
    <h1>Rent Art. Refresh Your Space.</h1>
    <p>Curated art collections, delivered to your door. Swap pieces monthly, seasonally—or whenever you need a change.</p>
    <a class="btn btn-flat" href="#">Browse Collections</a>
  </div>
</div>


<% @artworks.each do |artwork| %>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= artwork.name %></h2>
      <p><%= artwork.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= artwork.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
