.navbar-lewagon {
  justify-content: space-between;
  background: $muse-beige;
  border-bottom: 1px solid #9a8471;
  color: $muse-black !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: $muse-black
}
